:root {
    --as-color-dark-red: #4f0303;
    --as-color-light-red: #b10a0a;
    --as-color-dark-blue: #1e0352;
    --as-color-light-blue: #3405b5;
    --as-color-dark-green: #06531f;
    --as-color-light-green: #11d452;
}